<h1>Rooms Page</h1>

<% @locations.all.each do |location| %>
    <ul>
    <%=location.name%> has:
    <% location.rooms.each do |room| %>
        <li><%= link_to room.name, room %></li>
        <% end %>
        </ul>
<% end %>


       







