<h1>Rooms Page</h1>

<% @locations.all.each do |location| %>
    <% LocationsRoom.where(location_id: location.id).each do |room| %>
        <%= link_to room.room.name, room%>
        <% end %>
<% end %>


       







