<h1>Rooms Page</h1>

<% @locations.all.each do |location| %>
        <% if location.rooms.first != nil %>
            <label><%= link_to location.name, location %> has:
            </label><br>
            <% location.rooms.each do |room| %>
            <%= link_to room.name, room %><br>
            <% end %>
            <% else %>
            <%= link_to location.name, location %> has no rooms.
        <% end %><br>
    <% end %><br>







  
<%= render "footer"%>